<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lineageos.projector">
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <application
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Dialog"
        android:icon="@drawable/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:excludeFromRecents="true"
            android:noHistory="true">
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_PROJECTOR" />
            </intent-filter>
        </activity>
    </application>

</manifest>
